
# ## NPN and PNP proximity switch types can be set by jumper
# #[probe]
# #pin: ^EBBCan: PC13

# #[output_pin PB5]
# #pin: EBBCan: PB5

# #[output_pin PB7]
# #pin: EBBCan: PB7

# #[output_pin PB6]
# #pin: EBBCan: PB6