
#####################################################################
# 	Thermistors
#####################################################################

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: gpio27

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

#####################################################################
# 	Bed
#####################################################################

[heater_bed]
heater_pin: gpio21
sensor_type:Generic 3950
sensor_pin: gpio26
smooth_time: 3.0
min_temp: 0
max_temp: 120
control: pid                                                        # Do PID calibration after initial checks
#pid_kp: 68.453
#pid_ki: 2.749
#pid_kd: 426.122

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right