#####################################################################
# Neopixel
#####################################################################

[neopixel all_pixels]
pin: gpio24
chain_count: 19
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[gcode_macro all_pixels_off]
gcode:
    SET_LED_TEMPLATE LED=all_pixels TEMPLATE=
    SET_LED LED=all_pixels RED=0 GREEN=0 BLUE=0
    status_off

[gcode_macro chamber_led_on]
gcode:
  {% for i in range(1, 19) %}
    SET_LED LED=all_pixels INDEX={i} RED=1 GREEN=1 BLUE=1 TRANSMIT={1 if i == 18 else 0}
  {% endfor %}

[delayed_gcode Welcome_0]
initial_duration: 0.5
gcode:
  SET_LED LED=all_pixels RED=1 GREEN=1 BLUE=1

[delayed_gcode Welcome_1]
initial_duration: 1.5
gcode:
  all_pixels_off
  SET_LED LED=all_pixels INDEX=19 RED=0.1 GREEN=0.1 BLUE=0.1 TRANSMIT=1

[neopixel sb_leds]
pin: EBBCan:PD3
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
