[include configs.d/*.cfg]
[include macros.d/*.cfg]
[include macros.d/calibration/*.cfg]
[include macros.d/hardware/*.cfg]

# PICO
[mcu]
serial: /dev/ttyAMA0
restart_method: command

# Expander
# [mcu expander]
# serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_070021000C43303054313620-if00
# restart_method: command

[mcu EBBCan]
canbus_uuid: 17f30387ec9f

[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0
#square_corner_velocity: 5.0 #temp for testing

## For testing Input Shaper - https://www.klipper3d.org/Resonance_Compensation.html
[input_shaper]
shaper_freq_x: 106.2
shaper_type_x: ei
shaper_freq_y: 87.2
shaper_type_y: mzv

[idle_timeout]
timeout: 2700
gcode:
  TURN_OFF_HEATERS
  M84
  all_pixels_off
  status_off

[firmware_retraction]

# PLA
# [stepper_z]
# position_endstop = 115.870

# November 4, 2024
# [stepper_z]
# position_endstop = 116.070

##	Increasing position_endstop brings nozzle closer to the bed

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 24.799
#*# pid_ki = 2.543
#*# pid_kd = 60.449
#*# control = pid
#*#
#*# [heater_bed]
#*# pid_kp = 68.219
#*# pid_ki = 2.004
#*# pid_kd = 580.716
#*#
#*# [stepper_z]
#*# position_endstop = 115.685
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 32/128
#*#
#*# [bed_mesh PLA]
#*# version = 1
#*# points =
#*# 	-6.806875, -6.757500, -6.730625
#*# 	-6.776250, -6.766250, -6.754375
#*# 	-6.833125, -6.823750, -6.836250
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 3
#*# max_y = 95.0
#*# mesh_x_pps = 2
#*# max_x = 95.0
