[gcode_macro _servo_test_angle]
gcode:
	{% set ANGLE  = params.ANGLE|int %}
	
    SET_SERVO SERVO=nozzle_brush ANGLE={ANGLE}
    G4 P250
    SET_SERVO SERVO=nozzle_brush WIDTH=0.0

[gcode_macro BRUSH_OUT] #Debug Deploy Arm
gcode:
   _servo_test_angle angle=130

[gcode_macro BRUSH_IN] #Debug Retract Arm
gcode:
   _servo_test_angle angle=40

[gcode_macro CLEAN_NOZZLE]
gcode:
  SAVE_GCODE_STATE NAME=CLEAN_NOZ
  _CG28
  G90
  G1 X20 Y100 Z50 F5000
  BRUSH_OUT                                       ;set brush servo to up position
  G1 X0 F3600
  G1 Y100 F3600
  G1 Y120 F3600
  G1 Y100 F3600
  G1 Y120 F3600
  G1 Y100 F3600
  G1 Y120 F3600
  G1 X20 F3600                                     
  G1 X0 F3600                                     
  G1 X20 F3600                                     
  G1 X0 F3600                                     
  G1 X20 F3600                                     
  G1 X0 F3600                                     
  G1 X20 F3600                                     
  G1 Y100 F5000                                    
  BRUSH_IN                                           ;set brush servo to down position
  RESTORE_GCODE_STATE NAME=CLEAN_NOZ
#   PARKREAR
 